

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - "AboutCompany" </title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="https://ecinfosolutions.b-cdn.net/wp-content/uploads/2021/08/logo_ecinfosolutions.jpg" alt="EC Infosolutions | A custom software development company" width="400" height="55" title="logo_ecinfosolutions" style="margin-top:10px;margin-bottom:10px;margin-right:20px;"/>
                
            </div>
            <div class="navbar-header" style="margin:30px;">
            <@Html.ActionLink("Back", "Index", "User")
            </div>
        </div>
    </div>
    <div>
        <h1 style="margin-top:35px;"> About Us</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 ">
                <div data-tag="h1" style="">
                    <h2> Web &amp; Mobile App Development</h2>
                    <p>
                        <span style="font-size: 20px;">MVP | PRODUCT ENGINEERING | QA &amp; SCALING ON CLOUD</span>
                    </p>
                    EC Infosolutions offers a range of product development services which include strategy, user experience, cloud architecture, web development &amp; cross platform mobile app development for iOS, Android &amp; Web apps. Our strong engineering team of 35 includes </>
                    <a href="https://www.udemy.com/course/aws-certified-solutions-architect-associate/" target="_blank" style="outline: none;">
                        <span> AWS Certified Solution Architect</span>
                    </a>
                    <p>
                        <span>s &amp; Google Cloud Partners.</span>
                    </p>
                </div>
            </div>
            <div class="Col-md-4">
                <img   alt="mobile app development ec infosolutions"  src="https://ecinfosolutions.b-cdn.net/wp-content/uploads/2020/05/cs-4.png"  width="248" height="213"   srcset="https://ecinfosolutions.b-cdn.net/wp-content/uploads/2020/05/cs-4.png 1000w, https://ecinfosolutions.b-cdn.net/wp-content/uploads/2020/05/cs-4-300x257.png 300w, https://ecinfosolutions.b-cdn.net/wp-content/uploads/2020/05/cs-4-768x657.png 768w, https://ecinfosolutions.b-cdn.net/wp-content/uploads/2020/05/cs-4-600x514.png 600w" sizes="(max-width: 248px) 100vw, 248px">
            </div>
        </div>
        <div class="row mt-4" style="margin-top:25px;">
            <!-- <div class="col-md-6">
                    <div class="html5-video-container" data-layer="0"><video tabindex="-1" class="video-stream html5-main-video" webkit-playsinline="" playsinline="" controlslist="nodownload" style="width: 288px; height: 162px; left: 0px; top: 0px;" src="blob:https://www.youtube.com/95811a62-3be2-43a8-a4d0-e00333be972e"></video></div>
            </div>     -->
            <div class="col-md-6">
                <iframe height="300" width="400"
                        src="https://www.youtube.com/embed/il_t1WVLNxk?autoplay=1">
                </iframe>
            </div>
            <div class="col-md-6">
                <img src="https://ecinfosolutions.b-cdn.net/wp-content/uploads/2020/05/app-1-2.png" sizes="(max-width: 248px) 100vw, 248px" />
            </div>
        </div>
    </div>
</body>
</html>